# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# Django
*.log
local_settings.py
.db.sqlite3
*.sqlite3
media/
staticfiles/

# Env files
.env
.env.*

# Zip files
*.zip
.zip

# PDF files
.pdf
*.pdf

# OS
.DS_Store
Thumbs.db
*.dmg
.dmg

# IDE
.vscode/
.idea/

# Node
node_modules/

# Build
build/
dist/
*.egg-info/
Codex.dmg
